
@media (max-width: 2000px) {
  body {
    font-style: italic;
    border: 10px solid gold;
    background-color: rgb(232, 120, 122);

  }
}
@media (max-width: 1024px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: rgb(206, 177, 219);
  }
}
@media (max-width: 800px) {
  body {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(59, 206, 181);
  }
}
@media (max-width: 768px) {
  body {
font-style: inherit;    font-weight: 300;
    background-color: rgb(207, 238, 8);
  }
}

li {
    display: inline;
  }

h1 {
   color: rgb(170, 0, 255);
   font-style:italic
}

h2 {
  color: orange;

}
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience-item {
  display: flex;
  flex-direction: column;
}
.job-header {
  display: flex;
  justify-content: space-between;
  
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.skill-item {
  flex: 1 1 30%; 
  margin: 10px;
  background-color: #f2f2f2; 
  padding: 10px;
  border-radius: 5px; 
  text-align: center;
}
#skills {
  padding: 20px;
  background-color: #f4f4f4; 
}

#skills h2 {
  text-align: center;
}

#skills ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  list-style-type: none;
  padding: 0; 
}

#skills li {
  margin: 5px; 
  border: 1px solid #007bff; 
  border-radius: 3px; 
  background-color: #ffffff;}

@media (max-width: 2000px) {
  #skills ul {
      flex-direction: column; 
      align-items: center; 
  }

  #skills li {
      width: 80%;
      text-align: left; 
  }
}
#skills {
  padding: 20px;
  background-color: #f4f4f4;
}

#skills h2 {
  text-align: center;
  margin-bottom: 15px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#skills li {
  margin: 8px;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #ffffff;
  transition: transform 0.3s;
}


@media (max-width: 800px) {
  #skills ul {
      flex-direction: column;
      align-items: center;
  }

  #skills li {
      width: 80%;
      text-align: center;
  }
}
input[type="text"], textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Default Styles */
input[type="text"], textarea, input[type="submit"], button {
  width: 100%; 
  box-sizing: border-box;
}