body {
    background-color: beige;
    color: yellowgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    padding-left: 90px;
    font-size: large;
    font-weight: 300;
}

h1 {
   color: rgb(170, 0, 255);
   font-style:italic
}

h2 {
color : orange;
}

h3 {
color: blue
;}
h4 {
    color: red;
    <
}

  
  
  
  